body{
    font-family: monospace;
    color:brown;
    background-color: aliceblue;
}
h1{
    color: black;
    font-weight: bold;
}
p{
    color:#000;
}
.judul1{
    color: #000;
}
.judul2{
    color: color;
}
#satu{
    background-color: lightslategray;
    padding: 20px;
    margin-top: 100px;
}
#dua{
    background-color: aqua;
    width: 50%;
    padding: 10px;
    margin-top: 50px;
}
#tiga{
    background-color: gold;
}
#background{
    background-color: black;
}
.text-background{
    color: green;
}
h1 {
    color: green;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text-p {
    color: white;
}
.margin{
    background-color: blue;
    margin: 50px;
}
.padding {
    background-color: black;
    padding: 20px;
}
.padding h1{
    color: white;
}
.padding p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}